body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}
a {
	color: var(--tg-theme-text-color);;
	text-decoration: none;
}
button {
	cursor: pointer;
	border: none;
	background: none;
}
.container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 480px;
	justify-content: space-around;
	align-content: flex-end;
	padding: 12px;
}
.categories-wrapper {
	display: grid;
	gap: 12px;
	padding: 0;
	margin-bottom: 24px;
	width: 100%;
}
.categories-title {
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	white-space: nowrap;
}
.categories-list {
	display: grid;
	column-gap: 12px;
	grid-template-columns: repeat(6, auto);
	overflow: auto;
}
.categories-list::-webkit-scrollbar {
	width: 0;
	height: 0;
}
.categories-item {
	display: flex;
	gap: 8px;
	align-items: center;
	background: #ECEEEF;
	padding: 4px 16px;
	border-radius: 2rem;
}
.categories-list .is-active {
	background: #0e0e0e;
}
.is-active .categories-title {
	color: #ffffff;
}
.inner {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 12px;
}
.dbwo6 {
	display: flex;
}
.des {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px;
}
.img {
	width: 100%;
}
.hzl46 {
    font-weight: 600;
    font-size: 14px;
}
.lsgdo {
	background: #0e0e0e;
	padding: 4px 12px;
	border-radius: 2rem;
    font-weight: 600;
    font-size: 15px;
	color: #ffffff;
}
.item {
	display: flex;
	flex-direction: column;
	position: relative;
	border: 1px solid #ECEEEF;
	border-radius: 8px;
	overflow: hidden;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: rgb(248, 168, 24);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;

	transition: background .2s linear;
}

.btn:hover {
	background: lightgreen;
}

.usercard {
	text-align: center;
}
.srueuxwi {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
}
.product-post-name {
	font-size: 20px;
	font-weight: 600;
}
.product-info {
	display: grid;
	gap: 12px;
}
.product-icons {
	display: flex;
	gap: 12px;
}
.product-photos {
	width: 80px;
	height: 80px;
	border-radius: 8px;
	overflow: hidden;
}
.divider {
	width: auto;
	height: 1px;
	background: #ECEEEF;
	margin: 12px 0;
}
.twixdgth {
	display: flex;
	border-radius: 8px;
	overflow: hidden;
}
.twixdgth img {
	width: 100%;
}
.jgqpwcmo {
	display: grid;
	gap: 12px;
}
.price {
	font-size: 20px;
	font-weight: 600;
	background: #0e0e0e;
	color: #fff;
	padding: 4px 12px;
	border-radius: 2rem;
}
.xpmkoxit {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.urfjoogb {
	display: flex;
	gap: 5px;
	align-items: center;
}
.ipfjpbhp {
	width: 36px;
	height: 36px;
}
.ipfjpbhp svg {
	width: 24px;
	height: 24px;
}
.rlycdaoc {
	font-size: 16px;
	font-weight: 600;
}
.tab.is-active {
	display: block;
}
.tab {
	display: none;
}
.tctniadb {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 12px;
}