body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}
a {
	color: var(--tg-theme-text-color);;
	text-decoration: none;
}
button {
	cursor: pointer;
	border: none;
	background: none;
}
.container {
	display: flex;
	flex-direction: column;
	max-width: 480px;
	height: 100vh;
}
.products-list {
	padding: 12px;
}
.categories-wrapper {
	display: grid;
	gap: 12px;
	padding: 12px;
}
.categories-title {
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	white-space: nowrap;
}
.categories-list {
	display: grid;
	column-gap: 12px;
	grid-template-columns: repeat(6, auto);
	overflow: auto;
}
.categories-list::-webkit-scrollbar {
	width: 0;
	height: 0;
}
.categories-item {
	display: flex;
	gap: 8px;
	align-items: center;
	height: 33px;
	padding-left: 15px;
	padding-right: 15px;
	background: #ECEEEF;
	border-radius: 2rem;
}
.categories-list .is-active {
	background: #0e0e0e;
}
.is-active .categories-title {
	color: #ffffff;
}
.inner {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 12px;
}
.dbwo6 {
	display: flex;
}
.des {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 12px;
	gap: 12px;
}
.img {
	width: 100%;
}
.hzl46 {
    font-weight: 600;
    font-size: 16px;
	word-break: break-word;
}
.lsgdo {
	display: flex;
	align-items: center;
	margin-left: auto;
    font-weight: 600;
    font-size: 18px;
	color: #0e0e0e;
}
.item {
	display: flex;
	flex-direction: column;
	position: relative;
	border: 1px solid #ECEEEF;
	border-radius: 8px;
	overflow: hidden;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: rgb(248, 168, 24);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	transition: background .2s linear;
}

.btn:hover {
	background: lightgreen;
}

.usercard {
	text-align: center;
}
.srueuxwi {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
}
.product-post-name {
	font-size: 20px;
	font-weight: 600;
}
.product-info {
	display: grid;
	gap: 12px;
}
.product-icons {
	display: flex;
	gap: 12px;
}
.product-photos {
	width: 80px;
	height: 80px;
	border-radius: 8px;
	overflow: hidden;
}
.divider {
	width: auto;
	height: 1px;
	background: #ECEEEF;
	margin: 12px 0;
}
.twixdgth {
	display: flex;
	border-radius: 8px;
	overflow: hidden;
}
.twixdgth img {
	width: 100%;
}
.jgqpwcmo {
	display: grid;
	gap: 12px;
}
.price {
	display: flex;
	align-items: center;
	height: 30px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 18px;
	font-weight: 600;
	background: #0e0e0e;
	color: #fff;
	border-radius: 2rem;
}
.xpmkoxit {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.urfjoogb {
	display: flex;
	gap: 5px;
	align-items: center;
}
.ipfjpbhp {
	width: 36px;
	height: 36px;
}
.ipfjpbhp svg {
	width: 24px;
	height: 24px;
}
.rlycdaoc {
	font-size: 16px;
	font-weight: 600;
}
.tab.is-active {
	display: block;
}
.tab {
	display: none;
}
.tctniadb {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 12px;
}
.slider {
	display: grid;
	margin-bottom: 24px;
}
.dghgauqz {
	display: grid;
	grid-template-columns: repeat(2, auto);
	overflow-x: auto;
	gap: 12px;
	padding: 12px;
  	white-space: nowrap;
}
.nrvzdqvd {
	flex: 1;
	display: grid;
	gap: 4px;
}
.irnfefys {
	width: 300px;
	height: 120px;
	background: #ECEEEF;
	border-radius: 16px;
	overflow: hidden;
	scroll-snap-align: start;
  	box-sizing: border-box;
}
.irnfefys img {
	width: 100%;
}
.cart-container {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    background-color: #e7eaf3;
}
.layout-tabs {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 12px;
}
.add-to-cart-btn {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
	font-size: 16px;
	font-weight: 700;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px;
	background: #307fff;
	color: #fff;
}
.cart {
	display: flex;
	align-items: center;
	gap: 10px;
}
.cart svg {
	width: 24px;
	height: 24px;
}
.cart-page {
	display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 480px;
    justify-content: space-around;
    align-content: flex-end;
    padding: 12px;
}
#cart-items {
    list-style-type: none;
    padding: 0;
}

.cart-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #F1F1F1;
}
.cart-delete {
	margin-left: auto;
}
.nwhnbufw {
	width: 100%;
	display: grid;
	gap: 8px;
	font-weight: 700;
}
.cart-item-info {
	display: flex;
	width: 100%;
	align-items: center;
	gap: 15px;
}
.cart-item img {
	width: 100px;
	height: 100px;
	border-radius: 12px;
}
.cart-controls {
	display: flex;
	gap: 10px;
	align-items: center;
	color: #000;
}
.cart-controls button {
	display: flex;
	width: 38px;
	height: 38px;
    background-color: #307fff;
	color: #fff;
    border: none;
    border-radius: 4px;
}
.product-name {
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
}
.cart-price {
	font-size: 20px;
}
.quantity-controls {
	max-width: 120px;
    display: flex;
    align-items: center;
	justify-content: space-between;
	padding: 8px;
	border: 1px solid #F1F1F1;
	border-radius: 8px;
}
.red {
	background: #E53535;
}
.blue {
	background: #307FEF;
}
.cart-delete svg {
	width: 24px;
	height: 24px;
	color: #E53535;
}
.quantity-controls button {
	display: flex;
	align-items: center;
    width: 30px;
	height: 30px;
    border: none;
    border-radius: 2rem;
}
#quantity {
	font-size: 18px;
	font-weight: 700;
}
.quantity-controls svg {
	width: 20px;
	height: 20px;
	color: #fff;
}
.send-cart {
	width: 100%;
	position: fixed;
	background: #307fff;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	bottom: 0;
	padding: 12px;
	text-align: center;
}
.cart-total {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 24px;
}
#cart-total-amount {
	font-weight: bold;
}