body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}
a {
	color: #0F1419;
	text-decoration: none;
}
button {
	cursor: pointer;
	border: none;
	background: none;
}
.container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 480px;
	justify-content: space-around;
	align-content: flex-end;
	padding: 12px;
}
.header-banner {
	height: 120px;
	border-radius: 12px;
	overflow: hidden;
	background: #e7eaf3;
}
.header-banner img {
	width: 100%;
	height: 100%;
}
.categories-wrapper {
	padding: 0;
	margin: 32px 0;
	width: 100%;
}
.categories-title {
	font-size: 13px;
	color: #0F1419;
	font-weight: 700;
	text-align: center;
}
.categories-list {
	display: grid;
	column-gap: 12px;
	grid-template-columns: repeat(6,minmax(90px,1fr));
	overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
}
.categories-list::-webkit-scrollbar {
	width: 0;
	height: 0;
}
.categories-item {
	display: flex;
	flex-direction: column;
	gap: 5px;
	max-width: 90px;
	max-height: 180px;
	border-radius: 16px;
	padding: 0;
}
.image-wrapper {
	margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background: #e7eaf3;
    border-radius: 12px;
}
.image-wrapper img {
	width: 45px;
	height: 45px;
	min-height: 45px;
}
.inner {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 12px;
}
.dbwo6 {
	display: flex;
}
.des {
	padding: 12px;
}
.img {
	width: 100%;
}
.hzl46 {
    font-weight: 600;
    font-size: 14px;
}
.lsgdo {
    font-weight: 600;
    font-size: 15px;
	color: #307FFF;
}
.item {
	display: flex;
	flex-direction: column;
	border: 1px solid #d3dbe3;
	border-radius: 8px;
	overflow: hidden;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: rgb(248, 168, 24);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;

	transition: background .2s linear;
}

.btn:hover {
	background: lightgreen;
}

.usercard {
	text-align: center;
}
.srueuxwi {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
}
.product-post-name {
	font-size: 20px;
	font-weight: 600;
}
.product-icons {
	display: flex;
	gap: 8px;
}
.product-photos {
	width: 80px;
	height: 80px;
	border: 1px solid #d3dbe3;
	border-radius: 8px;
	overflow: hidden;
}
.divider {
	width: auto;
	height: 1px;
	background: #d3dbe3;
	margin: 12px 0;
}
.twixdgth {
	height: 456px;
	border-radius: 8px;
	margin-bottom: 12px;
	overflow: hidden;
}
.twixdgth img {
	width: 100%;
}
.rlycdaoc {
	font-size: 20px;
	font-weight: 600;
}
.jgqpwcmo {
	display: grid;
	gap: 12px;
}
.price {
	font-size: 24px;
	font-weight: 600;
}
.xpmkoxit {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.urfjoogb {
	display: flex;
	align-items: center;
}
.ipfjpbhp {
	width: 36px;
	height: 36px;
}
.ipfjpbhp svg {
	width: 24px;
	height: 24px;
}